/* General */



/* Header */
header {
    background-color: #348CB3;
    /*padding: 5px 0;*/
}

header h1 {
    padding: 0 40px 0 0;
    border-right: 1px solid white;
    color: white;
    font-size: 16px;
    margin: 5px 0 5px 20px;
    display: inline-block;
}
nav {
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    list-style-type: none;
    cursor: pointer;
    color: white;
    margin-left: 40px;
}

#logout {
    float: right;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

/* Locations */
#content {
    margin: 10px 20px 0 20px;
}
#locations_table .delete {
    margin-left: 10px;
}
#locations_table .delete, #locations_table .edit {
    cursor: pointer;
}

/* Locations: Details */
#locations_data h3 {
    font-size: 1.5em;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
}
#locations_data h3:not(:first-child) {
    margin-top: 15px;
}
#locations_map {
    position: absolute;
    left: 20px;
    right: 315px;
    bottom: 20px;
    top: 90px;
    overflow: auto;
    border: 1px solid grey;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#locations_data {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 260px;
    padding-right: 15px;
    top: 90px;
    overflow: auto;
}
#locations_upload_type {
    margin: -33px 0 0 83px;
}
.ajax-upload-dragdrop {
    width: auto !important;
    border: none;
    padding: 0;
}
.ajax-upload-dragdrop > span {
    display: none;
}
.ajax-file-upload-container {
    display: none;
}
.form-group {
    margin-bottom: 0.7rem;
}

/* Locations: Tools */
#locations_tools span {
    padding-right: 10px;
    cursor: move;
}
#locations_map .oi {
    position: absolute;
    border: 2px solid #194568;
    color: #194568;
    padding: 2px;
    cursor: move;
    background-color: white;
}
#locations_map .oi::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    top: -2px;
    left: -2px;
    background-color: #194568;
}

/* Users */
#users_groups_new {
    margin-top: 15px;
}
.users_client {
    background-color: #F6F6F6;
    border-radius: 3px;
    border: 1px solid #C5C5C5;
    padding: 3px 4px;
    display: inline-block;
    margin: 3px;
    cursor: move;
}
#users_clients {
    border: 2px dashed #C5C5C5;
    min-height: 100px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #6AB2D1;
    border-color: #586F79;
}

/* Tracks */
#track_table .oi {
    cursor: pointer;
}
#track_table .oi-media-play {
    margin-right: 10px;
}
#track_details input {
    margin-left: 5px;
}
#track_play {
    display: block;
    margin-top: 10px;
}
.ws_log {
    overflow: auto;
}

/* Ranging */
#ranging_location_edit > .row {
    position: absolute;
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 0;
}
#ranging_location_form_devices {
    border-right: 1px solid #ddd;
}
#ranging_location_form_devices .devices {
    position: absolute;
    top: 45px;
    bottom: 100px;
    right: 15px;
    left: 15px;
}
#ranging_location_form_devices .devices .delete {
    float: right;
    cursor: pointer;
}
#ranging_location_form_devices .devices .name {
    cursor: pointer;
}
#ranging_location_form_devices .new_device {
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    height: 67px;
}
#ranging_location_form_measurements .control {
    position: absolute;
    right: 15px;
    top: 0;
    padding: 6px;
    border: 1px solid #ddd;
}
#ranging_location_form_measurements .control button {
    display: inline-block;
}
#ranging_location_form_measurements .control .status {
    display: inline-block;
    width: 100px;
}
#ranging_measurement_data {
    margin-top: 23px;
}
#ranging_measurement_data .delete {
    cursor: pointer;
}