<script type="text/template" id="page">
    <div class="row">
        <div class="col">
            <div id="users_groups">
                <h2>Groups</h2>
                <div id="users_groups_accordion"></div>
                <div id="users_groups_new">
                    <h3>New Group</h3>
                    <input type="text" id="users_groups_add" /><button id="users_groups_add_button">Add</button>
                </div>
            </div>
        </div>
        <div class="col">
            <h2>Clients</h2>
            <div id="users_clients"></div>
        </div>
    </div>


    <div class="modal fade" id="groupDeleteModal" tabindex="-1" role="dialog" aria-labelledby="reallyDeleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Really delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this group? The associated clients will be independent again.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-secondary" id="groupDeleteConfirmed">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="users_groups_accordion_entry">
    <h3 data-content-prepend="name" data-template-bind='[{"attribute": "data-id", "value": "id"}]'><span class="oi oi-trash" data-toggle="modal" data-target="#groupDeleteModal" /></h3>
    <div class="users_drop" data-template-bind='[{"attribute": "data-id", "value": "id"}]'>

    </div>
</script>