<script type="text/template" id="page">
    <h2>Database</h2>
    <p>Fill the database with some dummy data:</p>
    <button data-call_method="POST" data-call_path="database">Reset Database</button>
    <p><br />Back up the database:</p>
    <button data-call_method="POST" data-call_path="databasebackup">Back up Database</button>
</script>