<script type="text/template" id="page">
    <h2>Tracks</h2>
    <div class="row">
        <div class="col-2" id="track_date">
            <div class="form-group">
                <label for="from">From</label>
                <input class="form-control form-control-sm" type="text" id="from" name="from">
            </div>
            <div class="form-group">
                <label for="to">To</label>
                <input class="form-control form-control-sm" type="text" id="to" name="to">
            </div>
        </div>
        <div class="col-10" id="track_data"></div>
    </div>


    <div class="modal fade" id="trackDeleteModal" tabindex="-1" role="dialog" aria-labelledby="reallyDeleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Really delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this track?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-secondary" id="trackDeleteConfirmed">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tracks_table">
    <table id="track_table" class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Client</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>
</script>

<script type="text/template" id="track_entry">
    <tr>
        <td data-content="id">
        <td data-content="time"></td>
        <td data-content="client"></td>
        <td data-content="location"></td>
        <td data-template-bind='[{"attribute": "data-id", "value": "id"}]'><span class="oi oi-media-play"/><span
                class="oi oi-map"/> <span class="oi oi-trash" data-toggle="modal" data-target="#trackDeleteModal"/></td>
    </tr>
</script>

<script type="text/template" id="track_details">
    <h2>Track: <span data-content="location_name"></span></h2>
    <div class="row">
        <div class="col-2">
            <label>Upload client identifier:</label><input type="text" id="track_client_identifier" data-value="client_identifier" />
            <label>Track id:</label><input type="text" id="track_id" data-value="id" />
            <label>Simulate Rotations</label><input type="checkbox" checked="checked" id="simulate_rotations" />
            <button id="track_play">Go</button>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-6"><h2>Out</h2><div class="ws_log" id="ws_out"></div></div>
                <div class="col-6"><h2>In</h2><div class="ws_log" id="ws_in"></div></div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="track_positions">
    <h2>Track: <span data-content="name"></span></h2>
    <div id="locations_map" data-content="map">
    </div>
    <div id="locations_data">
        <h2>Waypoints hinzufügen</h2>
        <div id="track_tools">
            <span class="oi oi-flag"></span>
        </div>
    </div>
</script>