<script type="text/template" id="page">
    <h2>Locations</h2>
    <table id="locations_table" class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>

    <h3>New Location</h3>
    <input type="text" id="location_new"/>
    <button id="location_new_button">Add</button>


    <div class="modal fade" id="locationDeleteModal" tabindex="-1" role="dialog" aria-labelledby="reallyDeleteModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Really delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you really want to delete this location and all related information?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-secondary" id="locationDeleteConfirmed">Yes</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="locations_table_entry">
    <tr>
        <td data-content="id" class="id"></td>
        <td data-content="name" class="name"></td>
        <td><span class="edit oi oi-pencil"></span><span class="delete oi oi-trash" data-toggle="modal"
                                                         data-target="#locationDeleteModal"></span></td>
    </tr>
</script>

<script type="text/template" id="location_details">
    <h2>Location: <span data-content="name"></span></h2>
    <div id="locations_map" data-content="map">
    </div>
    <div id="locations_data">

        <div id="locations_tools">
            <span class="oi oi-wifi"></span>
            <span class="oi oi-bluetooth"></span>
            <span class="oi oi-media-play"></span>
            <span class="oi oi-plus"></span>
            <span class="oi oi-audio"></span>
        </div>

        <h3>General Data</h3>
        <form>
            <div class="form-group">
                <label>Name</label>
                <input type="text" data-value="name" data-fieldname="name"
                       class="autoupdate form-control form-control-sm"/>
            </div>
            <div class="form-group">
                <label>Floor</label>
                <input type="number" data-value="floor" data-fieldname="floor"
                       class="autoupdate form-control form-control-sm"/>
            </div>
            <div class="form-group">
                <label>GPS: Latitude</label>
                <input type="text" pattern="\d+\.\d+" data-value="gps_latitude" data-fieldname="gps_latitude"
                       class="autoupdate form-control form-control-sm"/>
            </div>
            <div class="form-group">
                <label>GPS: Longitude</label>
                <input type="text" pattern="\d+\.\d+" data-value="gps_longitude" data-fieldname="gps_longitude"
                       class="autoupdate form-control form-control-sm"/>
            </div>
            <div class="form-group">
                <label>Proximity UUID (iBeacon)</label>
                <input type="text" data-value="proximityUUID" data-fieldname="proximityUUID"
                       class="autoupdate form-control form-control-sm"/>
            </div>
            <h3>Map</h3>
            <div class="form-group">
                <label>Upload</label>
                <div id="locations_fileuploader">Upload</div>
                <div id="locations_upload_type">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="map_type" value="display"
                                   checked="checked"> Display
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="map_type" value="grid"> Grid
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Orientation</label>
                <input type="number" data-value="map_orientation" data-fieldname="map_orientation"
                       class="autoupdate form-control form-control-sm"/>
            </div>
            <div class="form-group">
                <label>Dimension (cm)</label>
                <input type="number" data-value="map_width" data-fieldname="map_width"
                       class="autoupdate form-control form-control-sm"/>
            </div>

            <h3>Enhanced Ranging</h3>
            <button type="button" class="btn btn-primary enhanced-ranging">Enhanced Ranging</button>
        </form>
    </div>


    <div id="locationDeviceModifyForm" title="Edit Device">
        <form>
            <div class="form-group row">
                <label for="locIdentifier" class="col-sm-3 col-form-label">MAC</label>
                <div class="col-sm-9">
                    <input type="text" name="identifier" id="locIdentifier" value=""
                           class="text ui-widget-content ui-corner-all">
                </div>
            </div>
            <div class="form-group row">
                <label for="locGroup" class="col-sm-3 col-form-label">Group</label>
                <div class="col-sm-9">
                    <input type="text" name="group" id="locGroup" value="" class="text ui-widget-content ui-corner-all">
                </div>
            </div>
            <div class="form-group row">
                <label for="locSignal_strength" class="col-sm-3 col-form-label">Signal</label>
                <div class="col-sm-9">
                    <input type="number" name="signal_strength" id="locSignal_strength" value=""
                           class="text ui-widget-content ui-corner-all">
                </div>
            </div>
            <div class="form-group row">
                <label for="locAlpha" class="col-sm-3 col-form-label">Alpha</label>
                <div class="col-sm-9">
                    <input type="number" name="alpha" id="locAlpha" value=""
                           class="text ui-widget-content ui-corner-all">
                </div>
            </div>
            <div class="form-group row">
                <label for="locBeta" class="col-sm-3 col-form-label">Beta</label>
                <div class="col-sm-9">
                    <input type="number" name="beta" id="locBeta" value="" class="text ui-widget-content ui-corner-all">
                </div>
            </div>
            <div class="form-group row">
                <label for="locLeft" class="col-sm-3 col-form-label">Pos Left</label>
                <div class="col-sm-9">
                    <input type="number" name="left" id="locLeft" value="" class="text ui-widget-content ui-corner-all">
                </div>
            </div>
            <div class="form-group row">
                <label for="locTop" class="col-sm-3 col-form-label">Pos Top</label>
                <div class="col-sm-9">
                    <input type="number" name="top" id="locTop" value="" class="text ui-widget-content ui-corner-all">
                </div>
            </div>

            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

        </form>
    </div>
</script>


<script type="text/template" id="locationsRangingLocationEdit">
    <div id="ranging_location_edit" title="Edit Ranging Location" class="container">
        <div class="row">
            <div id="ranging_location_form_devices" class="col-3">
                <h3>Devices</h3>
                <div class="devices"></div>
                <div class="new_device">
                    <h4>New Device</h4>
                    <div class="form-group">
                        <input class="text ui-corner-all form-control form-control-sm" type="text"/>
                    </div>
                </div>
            </div>
            <div id="ranging_location_form_measurements" class="col-9">
                <h3>Measurements</h3>
                <div class="control">
                    <button class="start">Start</button>
                    <button class="end">End</button>
                    <div class="status">Status: Off</div>
                </div>
                <table id="ranging_measurement_data" class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Ranging Device</th>
                        <th>Count</th>
                        <th>Avg. RSS</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</script>

<script type="text/template" id="locations_ranging_device">
    <div data-template-bind='[{"attribute": "data-id", "value": "id"}]'><span data-content="name"
                                                                              class="name"></span><span
            class="delete oi oi-trash"></span></div>
</script>

<script type="text/template" id="location_ranging_measurement_summary">
    <tr data-template-bind='[{"attribute": "data-id", "value": "ranging_device_id"}]'>
        <td data-content="ranging_device_identifier"></td>
        <td data-content="count"></td>
        <td data-content="avg" data-format="DecimalFormatter"></td>
        <td><span class="delete oi oi-trash"></span></td>
    </tr>
</script>